<div class="chat-session">
  <h3>{{candidateRoom}}</h3>
  <div class="chat-messages" id={{messageList}} />
  <form id={{messageForm}}>
    <input type="text" id={{messageText}} placeholder="Write a reply">
    <input type="submit" class="submitButton" value="+" >
  </form>
</div>
